# Ignorar las bases de datos sqlite personales
db/*

# Ignorar archivos tfstate en todos los directorios
*.tfstate
*.tfstate.*
*.terraform.lock.hcl

# Ignorar directorios .terraform en todos los directorios
.terraform/

# Ignorar archivo terraform.tfvars en todos los directorios
terraform.tfvars

# Ignorar los dominios definidos para cloudflare
cloudflare/domains/*
